body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
}
nav {
    background-color: rgb(153, 153, 153);
}
h1 {
    font-family: "Sansita Swashed";
    font-weight: 700;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
h2 {
    font-size: 150%;
    font-weight: 600;
}
h3 {
    font-size: 125%;
    font-weight: 700;
}
section {
    margin-bottom: 1000px;
    background-color: rgb(153, 153, 153);
}